footer
  hr
  center
    a(href="mailto:tairyguo@gmail.com?subject=feedback")
      span.glyphicon.glyphicon-envelope 
      | &nbspEmail Me
    p &copy; 2014
      a(href="/")  Tairy's Blog
      | .All rights reserved.
script(src='/javascripts/jquery.js')
script(src='/javascripts/jquery.scrollUp.min.js')
script(src='/javascripts/bootstrap.js')
script(src='/javascripts/totop.js')
script(src='/javascripts/logout.js')