doctype html
html(lang="en")
  head
    title= title
    link(rel='shortcut icon', href="/images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/article.css')
  body
    header.navbar.navbar-static-top
      div.container
        nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(title="Home", href="/")
                span.glyphicon.glyphicon-home
                &nbsp首页
            li
              a(title="Content", href="/contents")
                sapn.glyphicon.glyphicon-th-list
                &nbsp目录
            li
              a(title="About", href="/about")
                sapn.glyphicon.glyphicon-info-sign
                &nbsp关于
            li
              a(title="Comment",href="/comment")
                sapn.glyphicon.glyphicon-comment
                &nbsp说说