extends layout

block content
  div.blog
    div.article.about
      :markdown
        ##关于我

        ---
        发布于2014-03-13

        ###我
        - 我是郭耿瑞/Tairy。
        - 我热爱互联网，喜欢写代码。
        - 我现在就读于东南大学物理系，本科。

        ###我希望

        - 能坚持每天学习。
        - 能坚持每天早起。
        - 能坚持每天锻炼。
        - 成为一个健康，牛逼的程序员。

        ###我的主页

        - Github: [Tairy][1]
        - Stackoverflow: [Tairy][2]
        - Zhihu:[Gengrui Guo][3]
        - Segmentfault: [Tairy][4]
        - Renren: [郭耿瑞][5]

        ###我的联系方式
        - Email: [tairyguo@gmail.com][6]
        - QQ: 1210137461

        ###我的朋友

        - [wolf][7]
        - [xindervella][8]
        - [Ray][9]


        [1]: https://github.com/Tairy
        [2]: http://stackoverflow.com/users/1914671/tairy
        [3]: http://www.zhihu.com/people/gengrui-guo
        [4]: http://segmentfault.com/u/tairy
        [5]: http://www.renren.com/425173939
        [6]: mailto:tairyguo@gmail.com?subject=feedback
        [7]: http://wolfblog.duapp.com/
        [8]: http://blog.xindervella.com/
        [9]: http://www.predatorray.me/