extends layout

block content
  div.blog
    div.article
      each article, i in articles
        h3
          a(href="/detail/#{article.timestamp}",data-toggle="popover", data-placement="left",data-original-title="#{article.time.day}",data-trigger="hover").title= article.title
        hr
