extends layout

block content
  div.masthead
    a.tairy-logo(href="/", title="home")
      img(src="/images/tairy-logo.jpg", alt="Tairy", width="144", height="144", class="tairy-avatar")
    h1
      a(href="")
        strong Tairy
    p
      small
        span.glyphicon.glyphicon-map-marker
        |SEU NanJing JangSu China
    p
      small Love Life!
    hr
  include includes/article