extends layout

block content
  if !locals.user 
    div.alert.alert-danger 
      a(href="/login") 登录
      |后才能发布文章
  else
    form(id="post_form" action="/post", method="post", role="form")
      if locals.success
        div.alert.alert-success #{locals.success}
      if locals.error
        div.alert.alert-danger #{locals.error}

      label 文章标题:
      input(type="text", placeholder="文章标题", name="title").form-control
      br
      label 文章内容:
      textarea(rows="10", placeholder="文章内容", name="post").form-control
      br
      button(type="submit").btn.btn-success 发布文章
